*,
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:480px}

body {min-width:480px; margin:0; padding:0; font:300 18px/31px Tahoma, Geneva, sans-serif; color:#101010; background:#fff; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale}
.fonts-loaded body {font-family:Roboto, sans-serif}

a {color:#ec1d22; text-decoration:none; transition:all 0.2s}
a:hover {text-decoration:underline}
a:active {text-decoration:none}

img {border:none; width:auto; height:auto; max-width:100%; max-height:100%}
iframe {border:none; max-width:100%; max-height:100%}

::-ms-clear {display:none}

strong, b, h1, h2, h3, h4, h5, h6, th {font-weight:normal}

.btn {display:block; margin:0; padding:0 32px; overflow:visible; outline:none; vertical-align:top; width:100%; height:40px; text-decoration:none; background:#fde8e9; color:#313131; border:1px solid #ec1d22; border-radius:0; font:12px/38px Tahoma, Geneva, sans-serif; letter-spacing:0.07em; text-align:center; transition:all 0.2s; position:relative; -webkit-appearance:none; cursor:pointer; text-transform:uppercase}
.fonts-loaded .btn {font-family:Roboto, sans-serif}
.btn:hover {background:#ec1d22; color:#fff; text-decoration:none}
.btn:active {background:#e43e42; color:#fff}

.container {max-width:1160px; margin:0 auto}
.container::after {content:""; display:block; clear:both}

.wrapper {min-width:480px; width:100%; position:relative; overflow:hidden}

.banner-top {padding:17px 0 0 0; line-height:0}
.banner-top a {display:block}
.banner-top img {display:block; width:100%}

.menu-open {height:100%; overflow-y:scroll}
.menu-open body {height:100%; overflow:hidden}

header {height:203px}
.header-inner {position:relative}

.fixed .header-inner {position:fixed; left:0; top:0; right:0; background:#fff; z-index:99; height:84px}
.fixed .header-inner .container {border-bottom:1px solid #e9e9e9; height:84px}

.menu-open .header-inner {position:fixed; left:0; top:0; right:0; background:#fff; z-index:99; height:auto}
.menu-open .header-inner::after {content:""; display:block; position:absolute; left:0; top:100%; right:0; height:9999px; background:rgba(0, 0, 0, 0.3)}
.menu-open .header-top {border-bottom:1px solid #e9e9e9; height:115px}
.menu-open .header-inner .container {border-bottom:none; height:auto}

.header-top::after {content:""; display:block; clear:both}

.logo {float:left; width:200px; height:43px; margin:33px 0 0 0; background:url(../images/logo.png) no-repeat; position:relative}
.logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}

.fixed .logo {width:149px; height:32px; margin:28px 0 0 0; background:url(../images/logo-fixed.png) no-repeat}

.menu-open .logo {width:200px; height:43px; margin:37px 0 0 0; background:url(../images/logo.png) no-repeat}

.header-title {display:none}

.menu-open .header-title {display:block; float:left; margin:0 0 0 89px; font-size:16px; line-height:114px; font-weight:normal; color:#797979}

.menu-link {float:right; width:26px; height:20px; margin:46px 0 0 0; border-top:2px solid #282828; border-bottom:2px solid #282828; position:relative; transition:border-color 0.2s}
.menu-link:hover {border-color:#ec1d22}
.menu-link::before,
.menu-link::after {content:""; display:block; position:absolute; left:0; top:7px; right:0; height:2px; background:#282828; transition:all 0.2s}
.menu-link:hover::before,
.menu-link:hover::after {background:#ec1d22}

.fixed .menu-link {margin:34px 0 0 0}

.menu-open .menu-link {border-color:transparent; margin:46px 0 0 0}
.menu-open .menu-link::before {transform:rotate(-45deg)}
.menu-open .menu-link::after {transform:rotate(45deg)}

.header-login {display:none}

.menu-open .header-login {display:block; float:right; margin:0 60px 0 0; font-size:14px; line-height:114px; font-weight:500; text-decoration:none; padding:0 0 0 30px; position:relative; color:#ec1d22; text-transform:uppercase}
.menu-open .header-login:hover {color:#282828}
.menu-open .header-login svg {display:block; position:absolute; left:0; top:50%; margin-top:-10px}
.menu-open .header-login path {fill:#ec1d22; transition:all 0.2s}
.menu-open .header-login:hover path {fill:#282828}

.header-search {float:right; margin:46px 29px 0 0; position:relative}
.header-search-link {display:block; width:21px; height:21px; background:url(../images/header-search.svg) no-repeat}
.header-search-link path {fill:#282828; transition:all 0.2s}
.header-search-link:hover path {fill:#ec1d22}

.fixed .header-search {margin:34px 29px 0 0}

.menu-open .header-search {display:none}

.header-lang {float:right; margin:36px 31px 0 0}
.header-lang a {float:left; width:40px; height:40px; margin:0 0 0 10px; border:1px solid #e9e9e9; font-weight:normal; font-size:14px; line-height:38px; text-align:center; color:#292929; text-decoration:none}
.header-lang a:first-child {margin:0}
.header-lang a:hover {background:rgba(236, 29, 34, 0.1)}

.fixed .header-lang {display:none}

.menu-open .header-lang {display:none}

.banner-header {margin:0 300px; text-align:center; line-height:0; padding:36px 0 0 0}

.fixed .banner-header {padding:0; position:relative; top:42px; transform:translateY(-50%)}

.menu-open .banner-header {display:none}

nav {margin:36px 0 0 0; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; height:56px}
nav::after {content:""; display:block; clear:both}
nav ul {float:left; margin:0; padding:0; list-style:none; font-size:14px; font-weight:500; line-height:54px; text-transform:uppercase}
nav ul li {float:left; margin:0 0 0 32px; padding:0}
nav ul li:first-child {margin:0}
nav ul li::before {display:none}
nav ul li a {float:left; color:#0b0b0b; text-decoration:none}
nav ul li.active a,
nav ul li a:hover {color:#ec1d22; text-decoration:none}

.fixed nav {display:none}

.menu-open nav {display:none}

.menu {display:none}
.menu-open .menu {display:block; padding:40px 0 46px 0}
.menu-list {display:table; width:100%}
.menu-item {display:table-cell; vertical-align:top; width:20%; border-left:1px solid #e7e7e7; padding:0 30px}
.menu-item:first-child {padding-left:0; border-left:none}
.menu-section {text-transform:uppercase; font-weight:500; font-size:14px; line-height:16px}
.menu-section+.menu-section {margin-top:16px}
.menu-section-list+.menu-section {margin-top:36px}
.menu-section a {color:#343434; text-decoration:none}
.menu-section a:hover {color:#ec1d22; text-decoration:none}
.menu-section-list {font-size:14px; line-height:16px; margin:19px 0 0 0}
.menu-section-list ul {margin:0; padding:0; list-style:none}
.menu-section-list ul li {margin:12px 0 0 0; padding:0}
.menu-section-list ul li::before {display:none}
.menu-section-list ul li a {color:#656565; text-decoration:none}
.menu-section-list ul li a:hover {color:#ec1d22; text-decoration:none}

.menu-bottom {margin:43px 0 0 0; border-top:1px solid #e7e7e7}
.menu-bottom::after {content:""; display:block; clear:both}

.menu-subscribe {float:left; padding:41px 0 0 0}
.menu-subscribe-title {font-size:18px; line-height:31px; color:#282828; font-weight:normal}
.menu-subscribe form {margin:5px 0 0 0; padding:0}
.menu-subscribe form::after {content:""; display:block; clear:both}
.menu-subscribe-input {float:left; width:558px}
.menu-subscribe-input input {position:relative; border:1px solid #d2d2d2; font:14px/18px Tahoma, Geneva, sans-serif; color:#040404; vertical-align:top; margin:0; padding:10px 17px; width:100%; height:40px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none; transition:all 0.2s}
.fonts-loaded .menu-subscribe-input input {font-family:Roboto, sans-serif}
.menu-subscribe-input input::-webkit-input-placeholder {opacity:1; color:#979797}
.menu-subscribe-input input::-moz-placeholder {opacity:1; color:#979797}
.menu-subscribe-input input:-ms-input-placeholder {opacity:1; color:#979797}
.menu-subscribe-input input.error {border-color:#ec1d22}
.menu-subscribe-input label.error {display:none !important}
.menu-subscribe-submit {float:left; width:162px; margin:0 0 0 20px}
.menu-subscribe-submit input {display:block; margin:0; padding:0; overflow:visible; outline:none; vertical-align:top; width:100%; height:40px; text-decoration:none; background:#ec1d22; color:#fff; border:none; border-radius:0; font:500 14px/40px Tahoma, Geneva, sans-serif; letter-spacing:0.07em; text-align:center; transition:all 0.2s; position:relative; -webkit-appearance:none; cursor:pointer; text-transform:uppercase}
.fonts-loaded .menu-subscribe-submit input {font-family:Roboto, sans-serif}
.menu-subscribe-submit input:hover {background:#e43e42}

.menu-social {float:right; padding:84px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.menu-social a {display:inline-block; vertical-align:top; margin:0 0 0 16px}
.menu-social a:first-child {margin:0}

.nav-tag {float:right; margin:14px 0 0 0; height:27px; padding:0 12px; background:rgba(236, 29, 34, 0.1); font-size:14px; font-weight:normal; line-height:27px}

.main::after {content:""; display:block; clear:both}
.main-content {float:left; width:820px}
.main-side {float:right; width:300px}

.main-big a {display:block; text-decoration:none; color:#fff; position:relative}
.main-big-photo {position:relative}
.main-big-photo::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:linear-gradient(180deg, rgba(0, 0, 0, 0) 39.58%, #000000 100%)}
.main-big-photo img {display:block; width:100%}
.main-big-content {position:absolute; left:50px; bottom:31px; right:50px}
.main-big-type {display:inline-block; vertical-align:top; height:23px; background:#ec1d22; padding:0 10px; text-transform:uppercase; font-size:10px; font-weight:500; line-height:23px; letter-spacing:0.05em}
.main-big-title {font-weight:bold; font-size:28px; line-height:35px; letter-spacing:0; padding:9px 0 0 0; transition:all 0.2s}
.main-big a:hover .main-big-title {color:#ec1d22}
.fonts-loaded .main-big-title {font-family:Merriweather, serif}
.main-big-anonce {padding:2px 0 0 0; font-size:18px; line-height:23px; letter-spacing:0}
.main-big-info {padding:28px 0 0 0; font-size:14px; line-height:16px; font-weight:normal}
.main-big-info::after {content:""; display:block; clear:both}
.main-big-info-date {float:left; padding:0 0 0 23px; background:url(../images/icon-date-white.svg) no-repeat left center}
.main-big-info-view {float:left; padding:0 0 0 26px; background:url(../images/icon-view-white.svg) no-repeat left center; margin:0 0 0 33px}

.main-mini-list {margin:0 -11px; font-size:0; line-height:0; letter-spacing:-1px}
.main-popular-articles .main-mini-list {padding-bottom:30px}
.main-mini {display:inline-block; vertical-align:top; width:50%; padding:22px 11px 0 11px}
.main-popular .main-mini {padding-top:62px}
.main-popular .main-mini:nth-child(1),
.main-popular .main-mini:nth-child(2),
.main-popular .main-mini:nth-child(3) {padding-top:22px}
.main-popular-articles .main-mini:nth-child(1),
.main-popular-articles .main-mini:nth-child(2),
.main-popular-articles .main-mini:nth-child(3) {padding-top:0}
.main-popular .main-mini:nth-child(5n-4),
.main-popular .main-mini:nth-child(5n-3),
.main-popular .main-mini:nth-child(5n-2) {width:33.33%}
.main-mini a {display:block; text-decoration:none; color:#fff; position:relative}
.main-mini-photo {position:relative}
.main-mini-photo::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.5); opacity:0; transition:all 0.2s}
.main-mini a:hover .main-mini-photo::after {opacity:1}
.main-mini-photo img {display:block; width:100%}
.main-mini-type {display:inline-block; vertical-align:top; height:22px; margin:25px 0 0 0; background:rgba(236, 29, 34, 0.1); padding:0 7px; text-transform:uppercase; font-size:10px; font-weight:500; line-height:22px; letter-spacing:0.05em; color:#ec1d22}
.main-mini-title {font-weight:bold; font-size:18px; line-height:23px; letter-spacing:0; padding:12px 0 0 0; transition:all 0.2s; color:#282828}
.main-mini a:hover .main-mini-title {color:#ec1d22}
.fonts-loaded .main-mini-title {font-family:Merriweather, serif}
.main-mini-anonce {padding:7px 0 0 0; font-size:16px; line-height:24px; letter-spacing:0; color:#797979}
.main-mini-info {padding:26px 0 0 0; font-size:12px; line-height:16px; font-weight:normal; color:#999; letter-spacing:0}
.main-mini-info::after {content:""; display:block; clear:both}
.main-mini-info-date {float:left; padding:0 0 0 23px; background:url(../images/icon-date-gray.svg) no-repeat left center}
.main-mini-info-view {float:left; padding:0 0 0 26px; background:url(../images/icon-view-gray.svg) no-repeat left center; margin:0 0 0 33px}

.main-subscribe {background:#000 url(../images/main-subscribe.jpg) no-repeat center; background-size:cover; padding:37px 28px 49px 28px}
.main-subscribe-title {font-size:20px; line-height:26px; color:#fff; font-weight:normal}
.main-subscribe form {margin:24px 0 0 0; padding:0}
.main-subscribe-input input {position:relative; border:1px solid #d2d2d2; font:14px/18px Tahoma, Geneva, sans-serif; color:#040404; vertical-align:top; margin:0; padding:10px 17px; width:100%; height:40px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none; transition:all 0.2s}
.fonts-loaded .main-subscribe-input input {font-family:Roboto, sans-serif}
.main-subscribe-input input::-webkit-input-placeholder {opacity:1; color:#979797}
.main-subscribe-input input::-moz-placeholder {opacity:1; color:#979797}
.main-subscribe-input input:-ms-input-placeholder {opacity:1; color:#979797}
.main-subscribe-input input.error {border-color:#ec1d22}
.main-subscribe-input label.error {display:none !important}
.main-subscribe-submit {margin:23px 0 0 0; width:146px}
.main-subscribe-submit input {display:block; margin:0; padding:0; overflow:visible; outline:none; vertical-align:top; width:100%; height:40px; text-decoration:none; background:#ec1d22; color:#fff; border:none; border-radius:0; font:500 12px/40px Tahoma, Geneva, sans-serif; letter-spacing:0.07em; text-align:center; transition:all 0.2s; position:relative; -webkit-appearance:none; cursor:pointer; text-transform:uppercase}
.fonts-loaded .main-subscribe-submit input {font-family:Roboto, sans-serif}
.main-subscribe-submit input:hover {background:#e43e42}

.main-number {padding:26px 0 23px 0; border-bottom:1px solid #dcdcdc}
.main-number-preview {line-height:0; display:block; text-decoration:none}
.main-number-preview img {display:block; width:100%}
.main-number-title {margin:20px 0 0 0; font-size:12px; line-height:16px; font-weight:bold; color:#282828}
.fonts-loaded .main-number-title {font-family:Merriweather, serif}
.main-number-title span {font-weight:normal; color:#8e8e8e}
.main-number-anonce {font-size:12px; line-height:16px; font-weight:normal; color:#898989; padding:9px 0 0 0}
.main-number-links {margin:17px 0 0 0}
.main-number-links::after {content:""; display:block; clear:both}
.main-number-link-read {float:left; width:184px}
.main-number-link-read .btn {padding:0; width:100%}
.main-number-preview:hover+.main-number-title+.main-number-anonce+.main-number-links .main-number-link-read .btn {background:#ec1d22; color:#fff; text-decoration:none}
.main-number-link-all {float:left; margin:0 0 0 20px; font-size:10px; font-weight:normal; line-height:40px; letter-spacing:0.07em; text-transform:uppercase}
.main-number-link-all a {color:#313131; text-decoration:none}
.main-number-link-all a:hover {color:#ec1d22; text-decoration:none}

.main-news {margin:85px 0 0 0}
.main-news-container::after {content:""; display:block; clear:both}
.main-news-content {float:left; width:820px}
.main-news-side {float:right; width:300px; margin:55px 0 0 0}

.main-news-title {font-weight:500; font-size:20px; line-height:23px; letter-spacing:0.12em; color:#202020; text-transform:uppercase}
.main-news-list {padding:25px 0 0 0}
.main-news-item {border-top:1px solid rgba(60, 60, 60, 0.2); padding:30px 0}
.main-news-item:first-child {border-top:none}
.main-news-item a {display:table; text-decoration:none; width:100%}
.main-news-item a::after {content:""; display:block; clear:both}
.main-news-item-photo {display:table-cell; vertical-align:top; width:398px; line-height:0; position:relative}
.main-news-item-photo::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.5); opacity:0; transition:all 0.2s}
.main-news-item a:hover .main-news-item-photo::after {opacity:1}
.main-news-item-photo img {display:block; width:100%}
.main-news-item-container {display:table-cell; vertical-align:middle; padding:0 0 0 79px}
.main-news-item-header::after {content:""; display:block; clear:both}
.main-news-item-type {float:left; height:22px; background:rgba(236, 29, 34, 0.1); padding:0 7px; text-transform:uppercase; font-size:10px; font-weight:500; line-height:22px; letter-spacing:0.05em; color:#ec1d22}
.main-news-item-date {float:left; margin:0 0 0 11px; font-size:12px; font-weight:normal; line-height:22px; color:#999}
.main-news-item-title {font-weight:bold; font-size:18px; line-height:23px; letter-spacing:0; padding:12px 0 0 0; transition:all 0.2s; color:#282828}
.main-news-item a:hover .main-news-item-title {color:#ec1d22}
.fonts-loaded .main-news-item-title {font-family:Merriweather, serif}
.main-news-item-anonce {padding:7px 0 0 0; font-size:16px; line-height:24px; letter-spacing:0; color:#797979}
.main-news-item-view {padding:0 0 0 26px; font-size:12px; line-height:16px; font-weight:normal; color:#999; background:url(../images/icon-view-gray.svg) no-repeat left center; margin:25px 0 0 0}

.main-news-more {margin:30px 0 0 0; position:relative}
.main-news-more::before {content:""; display:block; position:absolute; left:161px; right:0; top:17px; height:1px; background:rgba(60, 60, 60, 0.2)}
.main-news-more .btn {height:35px; line-height:33px; width:119px; padding:0; letter-spacing:0; text-transform:none}
.main-news-more .btn.loading::after {content:""; display:block; position:absolute; left:50%; top:50%; width:24px; height:24px; margin:-12px 0 0 -12px; background:url(../images/loading.gif) no-repeat}

.banner-side-wrap {line-height:0; position:relative; z-index:1}

.side-link-adv {text-align:center; margin:15px 0 0 0; font-size:14px; line-height:18px}
.side-link-adv a {color:#6f6e6e; text-decoration:none}
.side-link-adv a:hover {color:#ec1d22; text-decoration:none}

.main-news-companies {margin:85px 0 0 0}
.main-news-companies::after {content:""; display:block; clear:both}
.main-news-companies-content {float:left; width:820px}
.main-news-companies-list {margin:51px 0 0 0}
.main-news-companies-item {margin:20px 0 0 0; line-height:21px}
.main-news-companies-item a {font-weight:normal; font-size:16px; color:#282828; text-decoration:none}
.main-news-companies-item.selected a {color:#ec1d22}
.fonts-loaded .main-news-companies-item a {font-family:Merriweather, serif}
.main-news-companies-item a:hover {text-decoration:underline}
.main-news-companies-item span {color:#999; font-size:12px; font-weight:normal; margin:0 0 0 20px}

.main-news-companies-more {margin:48px 0 0 0; position:relative}
.main-news-companies-more::before {content:""; display:block; position:absolute; left:161px; right:0; top:17px; height:1px; background:rgba(60, 60, 60, 0.2)}
.main-news-companies-more .btn {height:35px; line-height:33px; width:119px; padding:0; letter-spacing:0; text-transform:none}

.main-news-companies-side {float:right; width:300px}

.main-popular {margin:103px 0 0 0}
.main-popular-articles {margin:0}
.main-popular-container {margin:55px 0 0 0}
.main-popular-articles .main-popular-container {margin:48px 0 0 0}
.main-popular-container::after {content:""; display:block; clear:both}
.main-popular-content {float:left; width:820px}
.main-popular-side {float:right; width:300px}

.main-popular-more {margin:53px 0 0 0; position:relative}
.main-popular-more::before {content:""; display:block; position:absolute; left:161px; right:0; top:17px; height:1px; background:rgba(60, 60, 60, 0.2)}
.main-popular-more .btn {height:35px; line-height:33px; width:119px; padding:0; letter-spacing:0; text-transform:none}
.main-popular-more .btn.loading::after {content:""; display:block; position:absolute; left:50%; top:50%; width:24px; height:24px; margin:-12px 0 0 -12px; background:url(../images/loading.gif) no-repeat}

.main-calendar {margin:95px 0 0 0; position:relative; padding:81px 0 107px 0; background:#f5f5f5}
.main-calendar::before {content:""; display:block; width:999px; position:absolute; left:100%; top:0; bottom:0; background:#f5f5f5}
.main-calendar::after {content:""; display:block; width:999px; position:absolute; right:100%; top:0; bottom:0; background:#f5f5f5}
.main-calendar-list {padding:34px 0 0 0; margin:0 -11px; font-size:0; line-height:0; letter-spacing:-1px}
.main-calendar-item {display:inline-block; vertical-align:top; width:33.33%; padding:21px 11px 0 11px}
.main-calendar-item-inner {background:#fff; padding:0 50px; transition:box-shadow 0.2s; position:relative}
.main-calendar-item-inner:hover {box-shadow:0 15px 40px rgba(0, 0, 0, 0.14); z-index:1}
.main-calendar-item-logo {padding:16px 0 0 0; height:122px; line-height:106px}
.main-calendar-item-logo img {display:inline-block; vertical-align:middle}
.main-calendar-item-type {display:inline-block; vertical-align:top; height:22px; background:rgba(236, 29, 34, 0.1); padding:0 17px; text-transform:uppercase; font-size:10px; font-weight:500; line-height:22px; letter-spacing:0.05em; color:#ec1d22}
.main-calendar-item-title {font-weight:bold; font-size:18px; line-height:23px; letter-spacing:0; padding:14px 0 0 0}
.main-calendar-item-title a {color:#282828; text-decoration:none}
.main-calendar-item-title a:hover {color:#ec1d22; text-decoration:none}
.fonts-loaded .main-calendar-item-title {font-family:Merriweather, serif}
.main-calendar-item-info {padding:11px 0 0 0; font-size:12px; line-height:16px; font-weight:normal; color:#999; letter-spacing:0}
.main-calendar-item-info::after {content:""; display:block; clear:both}
.main-calendar-item-date {float:left; padding:0 0 0 23px; background:url(../images/icon-date-red.svg) no-repeat left center}
.main-calendar-item-pay {float:left; width:12px; height:14px; background:url(../images/icon-pay.svg) no-repeat; margin:0 0 0 20px}
.main-calendar-item-place {font-size:13px; line-height:20px; color:#797979; padding:12px 0 0 0; letter-spacing:0}
.main-calendar-item-tags {font-weight:normal; font-size:10px; line-height:20px; color:#404040; padding:9px 0 45px 0; letter-spacing:0.05em; text-transform:uppercase}
.main-calendar-item-tags a {color:#404040; text-decoration:underline}
.main-calendar-item-tags a:hover {text-decoration:none}

.main-navigator {padding:70px 0 0 0}
.main-navigator-list {margin:6px -8px 0 -8px; font-size:0; line-height:0; letter-spacing:-1px}
.main-navigator-item {display:inline-block; vertical-align:top; padding:49px 8px 0 8px; width:16.66%}
.main-navigator-item a {display:block; text-decoration:none; color:#282828}
.main-navigator-item a:hover {color:#ec1d22; text-decoration:none}
.main-navigator-item-photo img {display:block; width:100%}
.main-navigator-item-type {margin:19px 0 0 0; text-transform:uppercase; font-size:10px; line-height:12px; letter-spacing:0.05em; font-weight:500; color:#ec1d22}
.main-navigator-item-title {margin:6px 0 0 0; font-weight:bold; font-size:16px; line-height:21px; letter-spacing:0}
.fonts-loaded .main-navigator-item-title {font-family:Merriweather, serif}

.main-projects {margin:70px 0 0 0}
.main-projects-list {margin:55px -8px 0 -8px; position:relative; overflow:hidden; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap}
.main-projects-list.slick-initialized {overflow:visible}
.main-projects-item {display:inline-block; vertical-align:top; width:16.66%; padding:0 8px; white-space:normal}
.main-projects-item a {display:block; text-decoration:none; color:#797979}
.main-projects-item a:hover {text-decoration:none; color:#ec1d22}
.main-projects-item-logo {height:111px; position:relative; overflow:hidden; border:1px solid #dcdcdc; text-align:center; line-height:109px; transition:all 0.2s}
.main-projects-item a:hover .main-projects-item-logo {border-color:#ec1d22}
.main-projects-item-logo img,
.main-projects-list .slick-slide .main-projects-item-logo img {display:inline-block; vertical-align:middle}
.main-projects-item-title {font-size:13px; line-height:20px; padding:15px 0 0 0; letter-spacing:0}
.main-projects-list .slick-prev,
.main-projects-list .slick-next {display:block; position:absolute; z-index:2; top:-89px; width:46px; height:46px; border:1px solid #e5e5e5; border-radius:0; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:transparent; transition:border-color 0.2s}
.main-projects-list .slick-prev {left:196px}
.main-projects-others .main-projects-list .slick-prev {left:245px}
.main-projects-list .slick-next {left:262px}
.main-projects-others .main-projects-list .slick-next {left:311px}
.main-projects-list .slick-prev:hover,
.main-projects-list .slick-next:hover {border-color:#ec1d22}
.main-projects-list .slick-prev svg,
.main-projects-list .slick-next svg {display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.main-projects-list .slick-prev path,
.main-projects-list .slick-next path {fill:#ec1d22}
.main-projects-list .slick-prev.slick-disabled path,
.main-projects-list .slick-next.slick-disabled path {fill:#c4c4c4}

.other {margin:85px 0 0 0}
.other-title {font-weight:500; font-size:20px; line-height:23px; letter-spacing:0.12em; color:#202020; text-transform:uppercase}
.other-list {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -11px}
.other-item {display:inline-block; vertical-align:top; width:33.33%; padding:55px 11px 0 11px}
.other-item a {display:block; text-decoration:none; color:#282828}
.other-item-photo {position:relative}
.other-item-photo::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.5); opacity:0; transition:all 0.2s}
.other-item a:hover .other-item-photo::before {opacity:1}
.other-item-photo img {display:block; width:100%}
.other-item-photo span {display:block; position:absolute; left:0; bottom:0; padding:0 13px; height:22px; background:#ed686b; color:#fff; font-weight:500; font-size:10px; line-height:22px; letter-spacing:0.05em; text-transform:uppercase}
.other-item-title {font-weight:bold; font-size:18px; line-height:25px; letter-spacing:0; color:#282828; margin:13px 0 0 0; font-family:Georgia, Times, serif}
.fonts-loaded .other-item-title {font-family:Merriweather, serif}
.other-item a:hover .other-item-title {color:#ec1d22}

.category-title {font-weight:500; font-size:28px; line-height:33px; letter-spacing:0.12em; color:#202020; text-transform:uppercase; margin:19px 0 0 0}
.category-title span {color:#ec1d22}

.category {display:block; text-decoration:none; margin:53px 0 0 0}
.category::after {content:""; display:block; clear:both}
.category-photo {float:left; width:580px; line-height:0; position:relative}
.category-photo::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.5); opacity:0; transition:all 0.2s}
.category:hover .category-photo::before {opacity:1}
.category-photo img {display:block; width:100%}
.category-content {float:left; width:475px; margin:0 0 0 63px; padding:23px 0 0 0}
.category-content-header::after {content:""; display:block; clear:both}
.category-content-type {float:left; height:22px; background:rgba(236, 29, 34, 0.1); padding:0 7px; text-transform:uppercase; font-size:10px; font-weight:500; line-height:22px; letter-spacing:0.05em; color:#ec1d22}
.category-content-date {float:left; margin:0 0 0 11px; font-size:12px; font-weight:normal; line-height:22px; color:#999}
.category-content-title {font-weight:bold; font-size:28px; line-height:35px; letter-spacing:0; padding:19px 0 0 0; color:#494949; transition:all 0.2s}
.category:hover .category-content-title {color:#ec1d22}
.fonts-loaded .category-content-title {font-family:Merriweather, serif}
.category-content-anonce {padding:12px 0 0 0; font-size:16px; line-height:24px; letter-spacing:0; color:#797979}
.category-content-view {padding:0 0 0 26px; font-size:12px; line-height:16px; font-weight:normal; color:#999; background:url(../images/icon-view-gray.svg) no-repeat left center; margin:25px 0 0 0}

.pager {margin:30px 0 0 0}
.pager::after {content:""; display:block; clear:both}
.pager-prev,
.pager-next {float:left; display:block; position:relative; width:36px; height:36px; border:1px solid #e5e5e5; transition:border-color 0.2s}
.pager-prev:hover,
.pager-next:hover {border-color:#ec1d22}
.pager-prev svg,
.pager-next svg {display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.pager-prev rect,
.pager-next rect {fill:#ec1d22}
.pager-prev.disabled rect,
.pager-next.disabled rect {fill:#bdbdbd}
.pager-content {float:left; margin:0 20px; font-size:14px; font-weight:normal; line-height:34px}
.pager-content a {float:left; width:36px; height:36px; border:1px solid #f9bbbd; text-align:center; color:#2f2f2f; margin:0 -1px 0 0}
.pager-content a:hover {position:relative; border-color:#ec1d22; text-decoration:none; color:#2f2f2f}
.pager-content a.active {background:rgba(236, 29, 34, 0.1); border-color:#f9bbbd}
.pager-content span {float:left; width:36px; height:36px; border:1px solid #f9bbbd; text-align:center; color:#2f2f2f; margin:0 -1px 0 0}

.project {margin:48px 0 0 0}
.project::after {content:""; display:block; clear:both}
.project-content {float:left; width:820px}
.project-photo {line-height:0}
.project-photo img {display:block; width:100%}
.project-text {margin:51px 0 0 0}
.project-detail {margin:50px 0 0 0; font-size:12px; line-height:19px; letter-spacing:0.07em; text-transform:uppercase; color:#797979; font-weight:normal}
.project-detail a {font-weight:bold}

.project-side {float:right; width:300px}

footer {background:#f3f3f3; margin:85px 0 0 0; padding:51px 0 40px 0}

.footer-subscribe-title {font-size:22px; line-height:37px; color:#282828; font-weight:normal}
.footer-subscribe form {margin:13px 0 0 0; padding:0}
.footer-subscribe form::after {content:""; display:block; clear:both}
.footer-subscribe-input {float:left; width:558px}
.footer-subscribe-input input {position:relative; border:1px solid #d2d2d2; font:14px/18px Tahoma, Geneva, sans-serif; color:#040404; vertical-align:top; margin:0; padding:10px 17px; width:100%; height:40px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none; transition:all 0.2s}
.fonts-loaded .footer-subscribe-input input {font-family:Roboto, sans-serif}
.footer-subscribe-input input::-webkit-input-placeholder {opacity:1; color:#979797}
.footer-subscribe-input input::-moz-placeholder {opacity:1; color:#979797}
.footer-subscribe-input input:-ms-input-placeholder {opacity:1; color:#979797}
.footer-subscribe-input input.error {border-color:#ec1d22}
.footer-subscribe-input label.error {display:none !important}
.footer-subscribe-submit {float:left; width:162px; margin:0 0 0 20px}
.footer-subscribe-submit input {display:block; margin:0; padding:0; overflow:visible; outline:none; vertical-align:top; width:100%; height:40px; text-decoration:none; background:#ec1d22; color:#fff; border:none; border-radius:0; font:500 14px/40px Tahoma, Geneva, sans-serif; letter-spacing:0.07em; text-align:center; transition:all 0.2s; position:relative; -webkit-appearance:none; cursor:pointer; text-transform:uppercase}
.fonts-loaded .footer-subscribe-submit input {font-family:Roboto, sans-serif}
.footer-subscribe-submit input:hover {background:#e43e42}

.footer-content {border-top:1px solid #d7d7d7; margin:46px 0 0 0; padding:41px 0 0 0}
.footer-content::after {content:""; display:block; clear:both}
.footer-side {float:left; width:355px}
.footer-logo {width:181px; height:38px; background:url(../images/footer-logo.png) no-repeat}
.footer-social {margin:28px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.footer-social a {display:inline-block; vertical-align:top; margin:0 0 0 16px}
.footer-social a:first-child {margin:0}
.footer-menu {display:table; float:left; margin:8px 0 0 0; font-size:14px; line-height:17px; font-weight:normal}
.footer-menu-item {display:table-cell; vertical-align:top; padding:0 0 0 40px; width:232px; padding:0 20px 0 40px; border-left:1px solid #d7d7d7}
.footer-menu-item:first-child {border-left:none; text-transform:uppercase}
.footer-menu-item ul {margin:0; padding:0; list-style:none}
.footer-menu-item ul li {margin:17px 0 0 0; padding:0}
.footer-menu-item ul li:first-child {margin:0}
.footer-menu-item ul li::before {display:none}
.footer-menu-item ul li a {color:#282828}
.footer-menu-item ul li a:hover {color:#ec1d22; text-decoration:none}

.footer-bottom {border-top:1px solid #d7d7d7; margin:38px 0 0 0}
.footer-bottom::after {content:""; display:block; clear:both}
.footer-copyrights {float:left; width:370px; padding:29px 0 0 0}
.footer-copyrights-title {font-size:14px; line-height:18px; color:#000; font-weight:normal}
.footer-copyrights-text {font-size:12px; line-height:16px; color:#777; font-weight:normal; margin:8px 0 0 0}
.footer-developer {float:right; color:#686868; margin:52px 0 0 0; font-size:14px; line-height:18px; font-weight:normal}
.footer-developer a {font-weight:500; color:#000; text-decoration:none}
.footer-developer a:hover {color:#ec1d22; text-decoration:none}
.footer-age {margin:0 370px; padding:36px 0 0 0}
.footer-age-inner {width:47px; height:47px; margin:0 auto; text-align:center; background:#fff; border-radius:50%; font-weight:normal; font-size:18px; line-height:47px; color:#000}